.container-fluid{
  max-width: 1170px; 
  margin: auto;
  border-radius: 1%;
  clear: both;
  overflow: hidden;
}
.avatar{ max-width:100%; border-radius: 50%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.top_spac{ margin: 20px 0 0;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: auto;

}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: auto;
  margin-bottom: 8px;
 }
 .received_withd_msg p {
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
}
.has-list {
  padding-top: 16px;
}

.has-list p {
  font-weight: 700;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg {
  border-radius: 30px;
  background: #eee;
  width: auto;
  color: #111;
  float: left;
  position: relative;
}
.mesgs {
  padding: 30px 15px 15px 15px;
  width: auto;
  background-color: #38444d;
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 120px;
}

 .sent_msg p {
  font-size: 16px;
  margin: 0; 
  color:#fff;
  padding: 5px 10px 5px 12px;
  font-family: Helvetica, Arial, sans-serif;
}
.incoming_msg{ overflow:hidden; margin:2px;}
.outgoing_msg{ overflow:hidden; margin:2px;}

.sent_msg {
  border-radius: 30px;
  float: right;
  background: #ea5bbe;
  width: auto;
  color: #fff;
  position: relative;
  margin-bottom: 8px;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  position: relative;
}
.type_msg input {
  outline: none;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 12px;
}
.material-icons {
  background: #ea5bbe none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 8px;
  width: 66px;
  line-height: 32px;
  max-width: 80px;
  min-width: 33px;
  border-radius: 30px;
}

.material-icons:hover{
  background-color: white;
  color: #008CBA;
}

.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
  padding-bottom: 20px;
} 

.text-center{
  color: #fff;
}

.loading{
  color: #fff;
}

.bot-heading {
  font-weight: 700;
  letter-spacing: 1px;
}

.typing {
  margin-top: -28px;
  height: 90px;
}